.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flash-msg {
    background-color: lightblue
  }

.navbar-brand {
  margin-left: 2rem;
}

.nav-link {
  display: inline-flex;
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
    margin-left: 2rem;
}

#logout {
  margin-right:2rem
}

#toggler {
  margin-right: 2rem
} 

.btn-light:hover {
  background-color: #909091;
  border-color: #020202;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}