html, body {
  margin:0px;
  height:100%;
}

#background {
  width: 100%;
  height: 100%;
  background-image: url(/static/img/background.jpg);
  background-size: cover;
}

.centered {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-inner {
  width: 80%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.translucent {
  background: rgba(255, 255, 255, 0.8)
}

.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flash-msg {
    background-color: lightblue
  }

.navbar-brand {
  margin-left: 2rem;
}

.nav-link {
  display: inline-flex;
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
    margin-left: 2rem;
}

#login {
  margin-right:2rem
}

#logout {
  margin-right:2rem
}

#toggler {
  margin-right: 2rem
} 

.margin {
  margin-left: 10px;
  margin-right: 10px
}

.btn:hover {
  background-color: #b9b9b9;
  border-color: #363636;
  color: #363636;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

.score-display {
  text-align: center;
  background-color: lightyellow
}

.correct-answer {
  background-color: lightgreen
}

.wrong-answer {
  background-color: lightpink
}

.quiz-wrapper{
  text-align:center;
}

.food-item {
  max-width: 20%;
  margin: 0.5rem;
  display: inline-block;
  text-align: center;
}

.food-img{
  width: 80%;
}

.category {
  border:1px solid black;
  padding: 2rem;
  margin: 2rem;
  text-align: center;
}

.food-item-container {
  width: 30%;
  display: inline-block;
}

.food-item-box {
  margin: 0.5rem;
  text-align: center;
  border:1px solid black;
}

.food-item-answer-box {
  height: 50px;
  margin: 0.5rem;
  text-align: center;
  border:1px solid black;
}

.choice-container {
  border:1px solid black;
  width: 90%;
  height: 200px;
  text-align: center;
}



