.centered-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flash-msg {
    background-color: lightblue
  }

.navbar-brand {
  margin-left: 2rem
}

.navbar-collapse {
 
}

#logout {
  margin-right: 2rem
}

#toggler {
  margin-right: 2rem
}



table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}