{% extends 'base.html' %}
{% block title %}Healthy Eating for Cancer Prevention{% endblock %}
{% block content%}
<div class = "container-fluid">
    <div class = "row">
        <div class = "col text-center">
            <h1>Welcome, {{name}}.</h1>
            <h1>Dashboard</h1>
        </div>
    </div>
    <div class = "row">
        {% for module in assigned_modules %}
        <div class = "col module">
            <a href="{{ module.href }}">{{ module.name }}</a>
        </div>
        {%endfor %}    
    </div>
</div>






{% endblock %}