[
    {
        "q_num": "1",
        "html": "<p>A healthy lifestyle <input type="text" class="answer-box" id="m1q1"> (can/cannot) lower the risk of cancer.</p>"
    },
    {
        "q_num": "2",
        "html": "<p>There are <input type="text" class="answer-box" id="m1q2"> special food that can prevent cancer.</p>"
    },

    <p>Every day, I should consume at least <input type="text" class="answer-box" id="m1q3"> servings of fruit and vegetables.</p>
    <p>One serving of vegetable is <input type="text" class="answer-box" id="m1q4"> bowl of raw vegetables or half a bowl of cooked vegetables.</p>
    <p>I should choose <input type="text" class="answer-box" id="m1q5"> grain products like brown rice over refined grain products like white rice.</p>
    <p>I should not eat too much <input type="text" class="answer-box" id="m1q6">, such as pork, beef and lamb.</p>
    <p>Choosing poultry, fish, or <input type="text" class="answer-box" id="m1q7">-based protein such as tofu is a good idea.</p>
    <p>I ought to avoid <input type="text" class="answer-box" id="m1q8"> meat like sausages and ham.</p>
    <p>Drinks like soda and lemonade contain added <input type="text" class="answer-box" id="m1q9">, which means they are empty calories (not providing nutrients).</p>
    <p>Drinking plenty of <input type="text" class="answer-box" id="m1q10"> (at least 8 cups per day) will help keep me healthy.</p>
}]
