{% extends 'base.html' %}
{% block title %}Healthy Eating for Prevention{% endblock %}
{% block content%}
<form action="/processing" method="POST">
    <p>11. In the past 7 days, how many days did you eat refined grains?<br>
        (including white rice, regular pasta, regular noodles)</p>
        <input type="radio" name="rgrains_days" value="1">
        <label>1 day</label>
        <input type="radio" name="rgrains_days" value="2">
        <label>2 days</label>
        <input type="radio" name="rgrains_days" value="3">
        <label>3 days</label>
        <input type="radio" name="rgrains_days" value="4">
        <label>4 days</label>
        <input type="radio" name="rgrains_days" value="5">
        <label>5 days</label>
        <input type="radio" name="rgrains_days" value="6">
        <label>6 days</label>
        <input type="radio" name="rgrains_days" value="7">
        <label>7 days</label>
        <input type="radio" name="rgrains_days" value="0">
        <label>I did not eat refined grains in the past 7 days</label>

    <input type="hidden" id="tracker" name="tracker" value=11>

    <input type="submit">
</form>

<progress value = "11" max = "13"></progress>
{% endblock %}