{% block title %}Healthy Eating for Cancer Survivors{% endblock %}
{% block content%}
<form action="/processing" method="POST">
    <p>2. On the days you ate vegetables, how many servings of vegetables did you eat per day on average?<br> 
    (1 serving of vegetables: ½ bowl cooked leafy vegetables, 1 bowl salad vegetables, 1 bowl bulky vegetables such as broccoli and carrots)</p>
    <input type="text" name="veg_qty">&nbsp;serving(s) of vegetables

    <input type="hidden" id="tracker" name="tracker" value=2>

    <input type="submit">
</form>
{% endblock %}